<template>
  <div>
      <v-btn
        href="https://daily.dev/win-free-t-shirt"
        target="_blank"
        text
      >
        <span class="free-shirt mr-2">Win a free t-shirt</span>
        <v-icon>mdi-wallet-giftcard</v-icon>
      </v-btn>
      <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
          <v-btn 
          v-bind="attrs"
          v-on="on"
          icon>
            <v-icon>mdi-bookmark</v-icon>
          </v-btn>
        </template>
        <span>Bookmarks</span>
      </v-tooltip>
      <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
          <v-btn 
          v-bind="attrs"
          v-on="on"
          icon>
            <v-icon>mdi-update</v-icon>
          </v-btn>
        </template>
        <span>Do not Disturb</span>
      </v-tooltip>
      <v-tooltip bottom>
      <template v-slot:activator="{ on, attrs }">
          <v-btn 
          v-bind="attrs"
          v-on="on"
          icon>
            <v-icon>mdi-flip-vertical</v-icon>
          </v-btn>
        </template>
        <span>Layout Settings</span>
      </v-tooltip>
      <v-btn
      tile
      color="light-blue"
    >
      <v-icon left>
        mdi-account
      </v-icon>
      Sign In
    </v-btn>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.free-shirt {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  text-transform: uppercase;
}
</style>