<template>
    <div class="my-4">
    <v-btn>
        <v-icon>mdi-magnify</v-icon>
    </v-btn>
    <v-btn
        text
        class="ml-2"
      >
        <span class="filtro">POPULAR</span>
      </v-btn>
      <v-btn
        text
        class="ml-2"
      >
        <span class="filtro">MOST UPVOTED</span>
      </v-btn>
      <v-btn
        text
        class="ml-2"
      >
        <span class="filtro active">RECENT</span>
      </v-btn>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
.filtro{
    color: grey;
}
.active{
    color: #fff;
    font-weight: 700;
}
</style>