<template>
  <div>
    <v-container class="text-center" fluid v-if="loading">
    <v-progress-circular
      :size="50"
      color="primary"
      indeterminate
    ></v-progress-circular>
  </v-container>
  <v-container fluid v-else>
    <side-bar :drawer="drawer"></side-bar>
    <button
      @click.stop="drawer = !drawer"
      class="sidebar-trigger has-tooltip"
      data-original-title="null"
    >
      <svg version="1.1" viewBox="0 0 24 24" class="svg-icon svg-fill">
        <path
          pid="0"
          d="M12 11.545L7.176 16.37a1.86 1.86 0 11-2.631-2.631l6.077-6.077a1.949 1.949 0 012.756 0l6.077 6.077a1.86 1.86 0 11-2.631 2.63L12 11.546z"
          _fill="#FFF"
          fill-rule="evenodd"
        ></path>
      </svg>
    </button>
    <menu-principal></menu-principal>
    <v-row dense>
      <v-col
        transition="scale-transition"
        origin="center center"
        class="d-flex justify-space-between mb-6"
        v-for="noticia in noticias"
        :key="noticia.id_noticias"
      >
        <v-hover v-slot="{ hover }">
          <v-card
            :href="noticia.link"
            target="_blank"
            :elevation="hover ? 12 : 2"
            :class="{ 'on-hover': hover }"
            class="mx-auto d-flex flex-column"
            max-width="344"
          >
            <v-img
              :src="noticia.imagen"
              min-height="200"
              max-height="200"
            ></v-img>
            <v-card-title>
              {{ noticia.titulo }}
            </v-card-title>
            <v-spacer></v-spacer>
            <v-card-actions class="align-end justify-end">
              <v-card-subtitle>
                {{ noticia.fecha | moment("calendar") }}
              </v-card-subtitle>
              <v-spacer></v-spacer>

              <v-btn icon>
                <v-icon>mdi-heart</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon>mdi-bookmark</v-icon>
              </v-btn>

              <v-btn icon>
                <v-icon>mdi-share-variant</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-hover>
      </v-col>
    </v-row>
  </v-container>
  </div>
</template>

<script>
import axios from "axios";
import SideBar from "./SideBar";
import MenuPrincipal from './MenuPrincipal';
export default {
  components: { 
    SideBar,
    MenuPrincipal 
    },
  name: "NoticiasMain",

  data: () => ({
    noticias: [],
    drawer: null,
    loading: true
  }),
  mounted() {
    axios
      .get("http://localhost:3000/")
      .then((response) => {
        this.noticias = response.data;
        this.loading = false;
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
<style scoped>
.v-card__title {
  font-size: 0.8rem;
}
.container--fluid {
  max-width: 85%;
}

.v-card__subtitle {
  font-size: 0.65rem;
  font-weight: 400;
  line-height: 0.8rem;
  letter-spacing: 0.0071428571em;
}

.sidebar-trigger {
  position: absolute;
  top: 82px;
  left: 0;
  width: 48px;
  height: 64px;
  align-items: center;
  justify-content: center;
  margin-left: -1px;
  background: initial;
  border: 1px solid grey;
  border-radius: 0 16px 16px 0;
  cursor: pointer;
  z-index: 0;
}
.sidebar-trigger .svg-icon {
  transform: rotate(90deg);
}
.svg-fill {
  fill: currentColor;
  stroke: none;
}
.svg-icon {
  width: 24px;
  height: 24px;
  color: grey;
}
</style>
