<template>
  <v-app>
    <v-app-bar app color="grey darken-4" dark>
      <div class="d-flex align-center">
        <logo-dev></logo-dev>
      </div>

      <v-spacer></v-spacer>

      <menu-superior></menu-superior>
    </v-app-bar>
    <v-main>
      <noticias-main />
    </v-main>
  </v-app>
</template>

<script>
import LogoDev from "./components/LogoDev";
import MenuSuperior from "./components/MenuSuperior";
import NoticiasMain from "./components/NoticiasMain";

export default {
  name: "App",

  components: {
    NoticiasMain,
    LogoDev,
    MenuSuperior,
  },

  data: () => ({
    //
  }),
};
</script>
<style>
#app {
  font-family: DejaVuSansMono;
}
</style>
